@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

.container {
  /* Body */
    display: flex;
    flex-direction: column;
}

.hero {
    /* Body */
    width: 100%;
    height: calc(105vh - 4rem);
    /* Display buttons - column */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* The image used */
    background-image: url("../../../assets/spreadsheet.jpg");
    /* Set a specific height of image */
    min-height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



body {
  font-family: "Exo 2", sans-serif;
  background: rgb(63, 161, 251);
  background: linear-gradient(
    142deg,
    rgba(63, 161, 251, 1) 0%,
    rgba(252, 70, 168, 1) 100%
  );
}

// Header section
.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(55vh - 4rem);
}

// hero text section
.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

// Welcome to
.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1.5rem;
  padding-right: 2rem;
}

// name section
.sweet-title {
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 8vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;
  }

// text in sweet-title section
.sweet-title span {
        display: block;
        position: relative;
    
        &:before {
          position: absolute;
          text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
            -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
          z-index: 1;
        }
    
        &:nth-child(1) {
          padding-right: 2.25rem;
        }
    
        &:nth-child(2) {
          padding-left: 2.25rem;
        }
      }


// Buttons section
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(35vh);
}

// target buttons in buttons section
.buttons button {
  height: 5rem;
  width: 16rem;
  margin-bottom: 1rem;
}

.buttons.errorFinder {
  flex-grow: 1;
}


.about {
    /* Body */
    border: medium outset black;
    border-color: black;
    width: 100%;
    height: 20rem;
}

.howTo {
    /* Body */
    width: 100%;
    height: 20rem;
}

// Responsive

@media screen and (max-width: 480px) {

  .hero {
    height: calc(105vh - 4rem);
  }

  .header {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 4rem);
  }

  .buttons {
    height: calc(30vh - 4rem);
}
  
}

@media screen and (max-width: 819px) {
  .sweet-title {
    font-size: clamp(3rem, 10vw, 7rem);
  }

 

  
}