<div class="container">
    <div class="hero" [@fade]="isShown ? 'in' : 'out'">
        <section class="header">
            <div class="title-wrapper">
              <h1 class="sweet-title">
                <span data-text="Sweet">RE Data</span>
                <span data-text="Stuff">Error Finder</span>
              </h1>
              <span class="top-title">Welcome to</span>
              </div>
          </section>
        <section class="buttons">
        <button mat-raised-button color="primary" class="heroButtons"><a>About Us</a></button>
       <button mat-raised-button color="accent" class="heroButtons"><a mat-button>How to use the program</a></button>
       <button mat-raised-button color="primary" class="errorFinder heroButtons"><a href="/errorFinder" mat-button>Try it out!</a></button>
        </section>
    </div>
    <div class="about">
      <h2 class="aboutTitle">About Real Estate Data Error Finder</h2>
      <section class="aboutSection">
        <div class="content">
          <h4>What is this?</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, delectus quasi iure deserunt corrupti enim provident itaque minus reprehenderit vero praesentium eaque cum rerum totam beatae animi blanditiis ex doloribus?</p>
          <h4>How it works</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, delectus quasi iure deserunt corrupti enim provident itaque minus reprehenderit vero praesentium eaque cum rerum totam beatae animi blanditiis ex doloribus?</p>
        </div>
        <div class="pictureCon">
          <div class="paraAbsolute">
            <h3>
              Interested in hiring me? See my resume below!
            </h3>
            <p>You gotta be quick!</p>
            <button class="resume" (click)="openModal()">View Resume</button>
            <div class="modal" id="resume-modal">
              <div class="modal-content">
                <iframe src="../../../assets/resume.pdf" height="100%" class="iframeResume"></iframe>
                <a href="../../../assets/resume.pdf" download>Download Resume</a>
                <span class="close" (click)="closeModal()">&times;</span>
              </div>
            </div>
          </div>
          <img src="../../../assets/Resizer.jpg" class="moving-image">
        </div>
      </section>
    </div>
    <div class="documentation">
        <h3>Documentation</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quas perferendis illo, corporis ut inventore quasi quidem laboriosam nemo reprehenderit id! Quos, ex. Odit consectetur repellendus voluptas. Vitae, itaque error.</p>
        <div class="exampleSection">
          <div class="examplePic">
            
          </div>
          <div class="exampleExplanation">

          </div>
        </div>
    </div>
</div>