<div class="container">
    <div class="hero" [@fade]="isShown ? 'in' : 'out'">
        <section class="header">
            <div class="title-wrapper">
              <h1 class="sweet-title">
                <span data-text="Sweet">RE Data</span>
                <span data-text="Stuff">Error Finder</span>
              </h1>
              <span class="top-title">Welcome to</span>
              </div>
          </section>
        <section class="buttons">
        <button mat-raised-button color="primary"><a>About Us</a></button>
       <button mat-raised-button color="accent"><a mat-button>How to use the program</a></button>
       <button mat-raised-button color="primary" class="errorFinder"><a href="/errorFinder" mat-button>Try it out!</a></button>
        </section>
    </div>
    <div class="about">

    </div>
    <div class="howTo">
        
    </div>
</div>