@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

body {
  font-family: "Exo 2", sans-serif;
  background: rgb(63, 161, 251);
  background: linear-gradient(
    142deg,
    rgba(63, 161, 251, 1) 0%,
    rgba(252, 70, 168, 1) 100%
  );
}

.container {
  /* Body */
    display: flex;
    flex-direction: column;
}

.hero {
    /* Body */
    width: 100%;
    height: calc(105vh - 4rem);
    /* Display buttons - column */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* The image used */
    background-image: url("../../../assets/spreadsheet.jpg");
    /* Set a specific height of image */
    min-height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Header section
.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(55vh - 4rem);
}

// hero text section
.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

// Welcome to
.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1.5rem;
  padding-right: 2rem;
}

// name section
.sweet-title {
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 8vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;
  }

// text in sweet-title section
.sweet-title span {
        display: block;
        position: relative;
    
        &:before {
          position: absolute;
          text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
            -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
          z-index: 1;
        }
    
        &:nth-child(1) {
          padding-right: 2.25rem;
        }
    
        &:nth-child(2) {
          padding-left: 2.25rem;
        }
      }


// Buttons section
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(35vh);
}

// target buttons in buttons section
.buttons button {
  height: 5rem;
  width: 16rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.buttons.errorFinder {
  flex-grow: 1;
}

.heroButtons {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.heroButtons:hover {
  transform: translate(10%, 10%) scale(1.2);
}


.about {
    /* Body */
    width: 100%;
    height: 25rem;
    background: linear-gradient(to bottom right, #663399, #ffd700);
    color: #fff; /* Set text color to white for better contrast */
}

.aboutTitle {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.aboutSection {
  display: flex;
}

.content {
  height: 18rem;
  width: 50%;  
  margin-left: 2rem;
}

.pictureCon {
  height: 18rem;
  width: 50%;
}

.paraAbsolute {
  position: absolute;
  margin: 2rem 4rem;
}

.moving-image {
  height: 18rem;
  width: 90%;
  transform: translateX(50px);
  transition: transform 0.8s ease-in-out;
  transition-delay: 1000ms;
}

.moving-image:hover {
  transform: translate(120px, 50%);
}

.resume {
  padding: 10px 20px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: none;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.displayResume {
  width: 30rem;
  height: 30rem;
  border: none;
}

.iframeResume {
  min-height: 500px;
  width: 700px;
}

.howTo {
  /* Body */
  width: 100%;
  height: 20rem;
}



// Responsive

@media screen and (max-width: 480px) {

  .hero {
    height: calc(105vh - 4rem);
  }

  .header {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 4rem);
  }

  .buttons {
    height: calc(30vh - 4rem);
}


  
}

@media screen and (max-width: 819px) {

// Hero section
.sweet-title {
  font-size: clamp(3rem, 10vw, 7rem);
}


  // about section
.about {
  height: 45rem;
}

.aboutSection {
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
}

.pictureCon {
  width: 100%;
}

.iframeResume {
  min-height: 400px;
  width: 450px;
}

.moving-image {
  align-self: flex-start;
  width: 100%;
  transform: translateX(2px);
  margin-top: 1.5rem;
}

// Documention section

.documention {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
}

.documention h3 {
  margin-top: 2rem;
}

.documention p {
  margin: 2rem;
}

.exampleSection {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.examplePic {
  height: 10rem;
  width: 40%;
  border: medium solid black;
}

.exampleExplanation {
  height: 10rem;
  width: 40%;
  border: medium dashed black;

}



 

  
}