
/* Navbar */

.matToolbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #663399, #ffd700);

}

/* Navbar links */
.menuLinks a {
    margin-right: 2rem;
    color: whitesmoke;
    text-decoration: none;
}




/* toggle munu open */
.open {
    height: 11rem;
    transition: all .5s ease-in-out;
}

/* toggle munu closed */
.closed {
    height: 3.5rem;
    transition: all .5s ease-in-out;
}

/* Responsive */

@media screen and (max-width: 480px) {
    .closed {
      height: 3rem;
    }
    
  }