
/* Navbar */
.matToolbar {
    display: flex;
    justify-content: space-between;
    
}

/* Navbar links */
.menuLinks a {
    margin-right: 2rem;
    color: whitesmoke;
    text-decoration: none;
}


/* toggle munu closed */
.closed {
    height: 4rem
}

/* toggle munu open */
.open {
    height: 9rem
}

/* Responsive */

@media screen and (max-width: 480px) {
    .closed {
      height: 3rem;
    }
    
  }