
.matToolbar {
    display: flex;
    justify-content: space-between;
    
}

.menuLinks a {
    margin-right: 2rem;
    color: whitesmoke;
    text-decoration: none;
}


.closed {
    height: 4rem
}

.open {
    height: 9rem
}